Source: vyos-support-phabricator
Section: contrib/net
Priority: extra
Maintainer: vyos Group <maintainers@vyos.io>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 5), autotools-dev, autoconf

Package: vyos-support-phabricator
Architecture: all
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 libjson-perl,
 ${misc:Depends}
Replaces: vyos-support-phabricator
Description: VyOS phabricator support package
